/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
    background-color: wheat;
    margin: 20px;
}

h2,
h3 {
    color: #333;
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

ul,
ol {
    margin: 10px 0;
    padding-left: 20px;
}

a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Layout */

header {
    background: rgb(223, 70, 149);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    background: rgb(223, 70, 149);
    padding: 10px 0;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #f4f4f4;
}


/* Section and Content */

section {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}


/* Forms */

form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="email"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(223, 70, 149);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

form button[type="submit"]:hover {
    background-color: wheat;
}


/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}


/* Footer */

footer {
    background: rgb(223, 70, 149);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}


/* Projects Page Styles */

article {
    margin-bottom: 40px;
}

article img {
    display: block;
    margin-bottom: 10px;
}


/* Responsive Design */

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin-bottom: 10px;
    }
    header h1 {
        font-size: 2rem;
    }
}